.card-principal {
    margin-top: 10px;
}

.card {
    border: 1px solid #ccc;
}

.card-title {
    display: flex;
    justify-content: center;
    color: #f2f2f2 !important;
    background-color: #c27333 !important;
}

.card-body {
    background-color: #c27333 !important;
}

.card-body ::-webkit-input-placeholder {
    direction: rtl;
    text-align: center;
    font-size: 25px;
}

.card-text {
    background-color: #c27333 !important;
    color: #f2f2f2;
    font-size: 18px;
}

.boton {
    background-color: #c27333 !important;
}

.btn-continuar {
    color: #f2f2f2 !important;
    background-color: #33b924 !important;
}

.btn-continuar:hover {
    color: #f2f2f2 !important;
    background-color: #33b924a8!important;
}