
th{
    font-size: 16px;
}

.btn{
    font-size: 16px !important;
}
.btn-eliminar{
    background-color: rgb(201, 28, 28) !important;
    color: #fff !important;
}

.th-list{
    background-color: #33b924b9 !important;
    color: #fff;
    font-size: 18px;
}