hr{
    margin-top: 70px;
    border: 1px solid rgb(107, 101, 101);
}

.locate ul li{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
   
}

svg{
    color:  #33b924 !important;
    font-size: 25px !important;
}
.locate ul li h6{
    margin-left: 10px;
}