.customSideNav {
    background: #33b924 !important;
}
.sidenav---sidenav---_2tBP *, .sidenav---sidenav---_2tBP *:before, .sidenav---sidenav---_2tBP *:after {
    box-sizing: inherit;
    background: #33b924;
}


